:root {
    --bg-main: #33a;
    --bg-nav: #336;
    --bg-footer: #333;
    --color-alert: #c00;
    --msg-error-bg: #900;
    --msg-error-text: #fcc;
    --msg-info-bg: #aaf;
    --msg-info-text: #00a;
    --msg-success-bg: #cfc;
    --msg-success-text: #060;
  }
  
  /*----- RESETEAMOS TODOS LOS ESTILOS PREDETERMINADOS -----*/
  
  html, body {
    height: 100%;
  }

  body {
    font-family: Verdana, Arial, sans-serif;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
  }
  
  
  
  /*----- FUENTES -----*/  
  @font-face {
      font-family: 'Quattrocento';
      font-style: normal;
      font-weight: 400;
      src: url('../fuentes/Quattrocento-Regular.ttf') format('truetype');
  }
  
  
  @font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fuentes/WorkSans-VariableFont_wght.ttf') format('truetype');
  }
  
  
  @font-face {
    font-family: 'Hind';
    font-style: normal;
    font-weight: 400;
    src: url('../fuentes/Hind-Regular.ttf') format('truetype');
  }
  
  h1 {
    font-family: 'Quattrocento', serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
  }
  
  nav,h2, h3, h5, h6 {
    font-family: 'Work Sans', sans-serif !important;
  }
  
  h5{
    font-weight: bolder !important;
  }
  
  p {
    font-family: 'Hind', sans-serif !important;
    color: black !important;
    margin-bottom: .75rem;
  }

i   mg {
    max-width: 100%;
  }
  
  ul {
    margin-bottom: 1rem;
  }

  footer {
    text-align: center;
    padding: 20px 0;
    color: white;
    margin-top: auto;
  } 
  #productos strong{
    color:#eb88d9;
    
  }
  /*----- ----- -----*/
  
  
  /*----- SECCIONES -----*/  
  
    /*----- INICIO -----*/
    .carousel-caption {
      background-color: rgba(128, 128, 128, .75);
    }
  
    /* Estilo para los párrafos dentro de la sección con ID 'inicio' */
  #inicio .row > div[class^='col-'] > p {  
    color: #333; 
    font-size: 1rem; 
    margin-bottom: 1rem; 
    
  }
  
    
    .fw-bold{
      color:white;
    }
  
    #inicio p {
      color: white;
      font-size: larger;
    }
  
  /* Estilos personalizados para el .carousel-inner */
  .carousel-inner {
    width: 100%; /* Para pantallas xs (extra pequeñas) */
  }
  
  
   /*----- TIENDA -----*/  
   .card-title{
    color: #434343;
  }
   
   .card {
    border-radius: 5px;
    border: 1px solid #999;
    margin: 0 0 2em 0;
    background-color: #fafafa;
  }

  .card img {
    border-radius: 5px 5px 0 0;
  }
  
  fieldset {
    padding: 1rem;
    margin-bottom: 1rem;
  }
  
  .form-flex {
    display: flex;
  }
  
  .form-flex > * {
    margin: 1rem;
  }
  
  .form-flex > *:first-child {
    margin-left: 0;
  }
  
  .form-fila {
    margin-bottom: 1em;
  }
  
  .form-fila label {
    display: block;
    margin-bottom: .5rem;
    font-weight: 700;
  }
  
  .form-control {
    display: block;
    width: 100%;
    padding: .5rem;
  }
  
  .button {
    width: 100%;
    padding: .5rem 1rem;
    border: 0;
    border-radius: 5px;
    background-color: #aaf;
  }
  
  .button-eliminar {
    background-color: var(--color-alert);
    color: #fff;
  }
  
  a.button {
    display: inline-block;
    width: auto;
  }
  .msg-error {
    padding: .75rem .5rem;
    color: var(--msg-error-text);
    /*background-color: #fcc;*/
  }
  
  .msg-error::before {
    content: url(imgs/cross.png);
    display: inline-block;
    margin-right: 10px;
  }
  
  .msg-info {
    padding: .75rem .5rem;
    color: var(--msg-info-text);
    background-color: var(--msg-info-bg);
  }
  
  .msg-info::before {
    content: url(imgs/glass.png);
    display: inline-block;
    margin-right: 10px;
  }
  
  .msg-success {
    padding: .75rem .5rem;
    color: var(--msg-success-text);
    background-color: var(--msg-success-bg);
  }
  
  .msg-success::before {
    content: url(imgs/check.png);
    display: inline-block;
    margin-right: 10px;
  }
  
  .msg-error {
    padding: .75rem .5rem;
    color: var(--msg-error-bg);
    background-color: var(--msg-error-text);
  }
  
  .msg-error::before {
    content: url(imgs/cross.png);
    display: inline-block;
    margin-right: 10px;
  }
  
  .form-help {
    color: #666;
    margin-top: .5rem;
    font-size: .95rem;
  }
  
  .badge {
    display: inline-block;
    padding: .25rem .5rem;
    border-radius: 5px;
    background-color: #333;
    color: #fefefe;
  }
  
  .visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.small {
  font-size: .85em;
}

.normal {
  font-weight: 500;
}

.table {
  border-collapse: collapse;
  background-color: none;
}

.table th {
  font-weight: 500;
}

.table td,
.table th {
  padding: .5rem;
  border: 1px solid #666;
}

.table td {
  vertical-align: top;
} 

  /*----- CONTACTO -----*/  
  #contacto button{
    background-color:  #225192 ;
    border: none;
  }
  /*----- FOOTER -----*/  
  
  
  /*----- BREAKPOINTS -----*/  
  @media (min-width: 768px) {
    .carousel-inner {
      width: 75%; /* Para pantallas md (medianas) */
    }
  
    
    
  }
  
  
  @media (min-width: 992px) {
    .carousel-inner {
      width: 50%; /* Para pantallas lg (grandes) y más grandes */
    }
  }
  
  .texto {
    color: black !important;
  }

  @media all and (min-width: 41.25em) { /* 660 / 16 */
    body {
        grid-template-rows: auto 1fr auto;
    }
  }
  
  @media all and (min-width: 46.875em) { /* 750 / 16 */
    .card {
        margin: 1em;
    }
  }
  
  @media all and (min-width: 50em) {  /* 800 / 16 */
    .productos-list {
        display: flex;
        flex-wrap: wrap;
    }
    .productos-link {
        width: calc(50% - 2em);
        margin: 1rem;
    }
  }
  
  @media all and (min-width: 68.75em) { /* 1100 / 16 */
    .main-content,
    .container-fixed {
        max-width: 1500px;
        width: 100%;
        margin: auto;
    }
  
    .container-flex {
        align-items: flex-start;
    }
  }
  